body {
	font-family: 'Dancing Script', cursive;
    background-image: url(images/img01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

#nav1
{  
    background-color:rgb(0, 0, 0) transparent; 
    opacity: 0.2; 
    filter:(opacity=50);    

}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
}

h1, h2, h3 {
    font-family: 'Dancing Script', cursive;
}

.name {
    background: black;
    color: darkgoldenrod;
    height: 10em;
    position: relative;
    padding-top: 250px;
}

.name1 {  
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

.foto-princ {
    width: 500px;
    border: 5px solid white;
}

.p {
    justify-content: center;
}

.whats {
    text-decoration: none;
}

.form-floating {
    width: 50%;
}

.espec {
    text-transform: uppercase;
    color: goldenrod;
}

.smash {
    width: 300px;
    border: 5px solid white;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.fa-whatsapp-square:before {
    color:rgb(155, 155, 155);
}

.fa-instagram-square:before {
    color:#9c9c9c;
}

.fa-envelope-square:before {
    color: rgb(167, 167, 167);
}

a {
    text-decoration: none;
    color: inherit;
}

.descricao {
    color: white; 
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

.valores {
    list-style-type: none;
}

.especializada {
    list-style-type: none;
    color: white; 
}

.lufoto {
    width: 550px;
    border: 5px solid white;
}

.album-velho {
    width: 500px;
    border: 5px solid white;
}

.img-carousel {
    margin-left: 600px;
}

.carousel {
    background-color: rgb(190, 158, 74);
    color: rgb(223, 223, 223);
    font-family: 'Newsreader', serif;
}

.p-1 {
    font-style: italic;
    font-size: 20px;
}

.p-2 {
    font-family: 'Newsreader', serif;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
}

.carousel-nome {
   color: rgb(53, 42, 13);
   font-size: 20px;
}

#copyright {
    position:static;
    padding: 1em 0em;
    text-align: center;
    color: rgb(190, 158, 74);
    background: black;
    height: 50px;
    font-size: 12px;
}
	
#copyright a {
    text-decoration: none;
    color: rgb(190, 158, 74);
}

