body {
	font-family: 'Dancing Script', cursive;
    background-image: url(images/img01.png); 
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
}

h1, h2, h3 {
    font-family: 'Dancing Script', cursive;
}

.name {
    background: black;
    color: darkgoldenrod;
    height: 10em;
    position: relative;
}

.name1 {  
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

.foto-princ {
    width: 500px;
    border: 5px solid white;
}

.whats {
    text-decoration: none;
}

.form-floating {
    width: 50%;
}

.espec {
    text-transform: uppercase;
    color: darkred;
}

.smash {
    width: 300px;
    border: 5px solid white;
}

.imagem-carrossel {
    height: 700px;
    object-position: 0 10%;
    object-fit: cover;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.fa-whatsapp-square:before {
    color:green;
}

.fa-instagram-square:before {
    color:#de075a;
}

.fa-envelope-square:before {
    color: darkblue;
}

.descricao {
    text-transform: uppercase; 
}

.valores {
    list-style-type: none;
}

.especializada {
    list-style-type: none;
}

.lufoto {
    width: 550px;
    border: 5px solid white;
}

.album-velho {
    width: 500px;
    border: 5px solid white;
}

#copyright {
    position:static;
    padding: 1em 0em;
    text-align: center;
    color: black;
    background: #c3c2c0;
    height: 50px;
}
	
#copyright a
{
    text-decoration: none;
    color: white;
}
