html, body{
  overflow-x: hidden;
}

.card-largura {
  max-width: 18rem;
}

.imagem-acai {
  height: 400px;
  object-fit: cover;
  object-position: 0 80%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.fonte-titulo-logo {
  font-family: 'Rancho', cursive;
  color: whitesmoke;
  font-size: 40px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 0.1em 0.1em 0.1em black;
}

.fonte-titulo-navbar {
  font-family: 'Rancho', cursive;
}

.sobre,
.contato, 
.portfolio {
  padding: 2em;
  min-height: 100vh; 
  color:rgb(43, 5, 48);
  font-family: 'Rancho', cursive;
}

@media (min-width: 1200px) {
 .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

.sobre h2,
.contato h2,
.portfolio h2 {
  font-family: 'Rancho', cursive;
  margin-bottom: 1em;
  font-size: 50px;
  color: rgb(44, 5, 59);
}

.sobre p {
  color:rgb(44, 8, 58);
  font-size: 30px;
  text-indent: 1.4em;
  margin-bottom: 1.4em;
  text-align: justify;
}

.sobre a {
  color: rgb(107, 14, 107);
}

.sobre .avatar .img-fluid {
  margin-left: 2em;
  border-radius: 5%;
}

.portfolio .avatar .img-fluid {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

#cardapio {
    max-width: 100%;
    width: 100%;
    height: auto; 
    overflow-x: scroll;
}

.horario {
   font-size: 25px;
}

@media (min-width: 600px) {
  .sobre .avatar {
  float: right;
  }
}

.borda-card {
  border:solid 1px;
  box-shadow: 10px 10px 10px 5px black;
  object-fit: cover;
  height: 200px;
}

.card-text {
  font-size: 20px;
}

.img-portfolio .img-fluid {
  height: 180px;
  width: 100%;
  transition: transform 500ms;
}

.contato .icons {
  text-align: center;
}

.contato a {
  color:rgb(107, 14, 107);
  font-size: 5em;
  transition: text-shadow 1s;
  text-decoration: none;
}

.contato a:active,
.contato a:hover {
  text-shadow: 20px 5px 5px rgb(107, 14, 107);
  color:inherit;
}

section#contato {
  display: block;
  text-align: center;
}

.footer {
  background-color: rgb(143, 51, 143);
  color: black;
  font-family: 'Rancho', cursive;
  font-size: 25px;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
}